<div id="Feedback" block-ui="main" class="appView animated"><div id="HtmlContent1" ng-class="HtmlContent1.Class" ng-hide="HtmlContent1.Hidden" title="{{HtmlContent1.Title}}" tooltip-placement="{{HtmlContent1.TooltipPos}}" uib-tooltip="{{HtmlContent1.TooltipText}}" popover-trigger="'{{HtmlContent1.PopoverEvent}}'" popover-placement="{{HtmlContent1.PopoverPos}}" popover-title="{{HtmlContent1.PopoverTitle}}" uib-popover="{{HtmlContent1.PopoverText}}"><form action="https://getsimpleform.com/messages?form_api_token=bfb1897e8223743815018c65154b43c3" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
  <!-- all your input fields here.... -->
  <input type='text' name='test' />
  <input type='submit' value='Test form' />
</form></div></div>
